*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

hr{border-color: black;}

:root{
    --bg-color-caixa: #e9e9e9;
    --bg-color-body: #2f1e65;
    --bg-color-submit: #7652da;
    --bg-color-submit-hover: #732fc2;
    --bg-color-submit-active: #56168a;
    --txt-color: #fff;
    --border-color: #000;
    --border-focus: #7652da;
}

body{
    background-color: var(--bg-color-body);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h2{
    text-align: center;
}

.caixa{
    background-color: var(--bg-color-caixa);
    margin: 5vh;
    border: 3px solid;
    padding: 30px;
    text-align: left;
    position: relative;
    width: 55vh;
    height: 100%;
    border-radius: 20px;
}

b{  
    font-size: 15px;
}

input[type="text"]{
    width: 100%;
    height: 1.6rem;
    border-radius: 5px;
    text-indent: 6px;
    border: 2px solid var(--border-color);
    display: block;
    
}

input[type="date"]{
    border: 2px solid var(--border-color);
    cursor: pointer;
    display: inline-block;
}

#duracaoProj{
    border: 2px solid var(--border-color);
    cursor: pointer;
    display: inline-block;
    width: 35%;
}


textarea{
    width: 100%;
    border-radius: 5px;
    text-indent: 6px;
    border: 2px solid var(--border-color);
}

::placeholder{
    text-indent: 6px;
    color: rgb(146, 146, 146);
}

hr{
    border: 1px solid;
    color: #9584FA;
}

#quantMembros{
    width: 11%;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]{
    height: auto;
    padding: 14px;
    width: 100%;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    margin: 0 auto;
    background-color: #7652da;
    color: var(--txt-color);
}

input[type="text"]:focus,input[type="date"]:focus, textarea:focus, #quantMembros:focus, #duracaoProj:focus{
    outline: none;
    border: 2px solid var(--border-focus);
    transition: 0.3s;
}

input[type="submit"]:hover{
    background-color: var(--bg-color-submit-hover);
    transition: 0.5s;
}

input[type="submit"]:active{
    background-color: var(--bg-color-submit-active);
}

@media only screen and (min-width: 1000px)  and (min-height: 700px) {

    .caixa{
        width: 52vh;
        margin-top: 11vh;
    } 
}

@media only screen and (min-width: 1200px) and (min-height: 800px) {
    .caixa{
        width: 42vh;
        margin-top: 13vh;
    }
}

@media only screen and (min-width: 1400px) {
    .caixa{
        margin-top: 15vh;
    }
}

@media only screen and (min-width: 1600px) {
    .caixa{
        width: 40vh;
        margin-top: 18vh;
    }
}
