*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

:root{
    --bg-color-body: #2f1e65;
    --txt-color: rgb(0, 0, 0);
    --bg-color-caixa: #9674f0;
    --border-color: white;
    --bg-color-hover: #6c4ebd;
    --bg-color-active: #6245b8;
}

body{
    background-color: var(--bg-color-body);
    color: var(--txt-color);
}

.gerenciar{
    text-align: left;
    color: white;
    font-size: 20px;
    text-indent: 5px;
}

.gerenciar-equipe {position: relative;}

#adm img{
    text-align: center;
}

#adm{
    display: flex;
    justify-content: center;
    align-items: center;
     
}

h2{
    text-align: center;
    font-size: 24px;
    margin-top: -25px;
}

.projeto{
    background-color: var(--bg-color-caixa);
}

.imagem-projeto{
    display: flex;
    align-items: center;
    justify-content: center;

}

.membro-equipe {
    background-color: #6c4ebd;
    padding: 20px 8px 25px;
    width: 101%;

}

.membro-equipe img{
    border-radius: 150px;
    float: left;    
    width: 10vh;
    height: 11vh;
}

.nome{
    color: white;
    text-indent: 10px;
    margin-top: 7px;
    padding: 2px;
    display: flex;
    font-size: 18px;
}

.imagem-projeto img{
    margin-top: 10px;
    border-radius: 100px;
}

.image img{
    float: right;
    margin-right: 8%;

}

#adm{
    color: rgb(243, 179, 61);
}

input[type="button"] {
    padding: 13px 20px;
    background-color: #7a57db;
    color: white;
}

#excluir{
    display: flex;
    align-items: center;
    margin-left: 83%;
    margin-top: -45px;
    background-color: rgb(145, 24, 24);
    border-radius: 5px;
}

#excluir:hover{
    background-color: rgb(175, 6, 6);
    transition: 0.5s;
}

input[type="button"]:hover, #sair:hover {
    background-color: var(--bg-color-hover);
    transition: 0.5s;
    cursor: pointer;
}

input[type="button"]:active, #sair:active {
    background-color: var(--bg-color-active);
    transition: 0.5s;
    cursor: pointer;
}

input[type="file"]{
    display: none;
    position: relative;
}

label{display: none;}

.imagem-projeto:hover label, #editar-texto{
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px;
    display: block;
    position: absolute;
    opacity: 0.9;
}

#editar-texto{
    margin-left: 58%;
    margin-top: -3%;
    position: absolute;
    display: none;
}

.titulo:hover #editar-texto{
    display: inline-block;
}

#container{
    background-color: var(--bg-color-hover);
    height: 15vh;
    display: none;
    width: 102.5%;
}

#userFoto{
    border-radius: 100px;
    width: 13vh;
    float: left;
    display: flex;
    margin-top: 5px;
    margin-left: 1%;
}

#pendenteUser{
    padding-top: 4vh;
}

#rank{
    font-size: 17px;
    margin-top: -2.5vh;
    margin-left: 15.4vh;
}  
    
#btn-div{
    background-color: #6245b8;
    padding: 20px;
    color: #fff;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

#btn-div:hover{
    background-color: var(--bg-color-hover);
    transition: 0.5s;
}

#aceitar{
    display: flex;
    padding: 15px 30px;
    align-items: center;
    margin-left: 29%;
    margin-top: -48px;
    background-color: rgb(41, 153, 65);
    font-weight: 500;
    border-radius: 5px;
}

#aceitar:hover{
    background-color: green;
    transition: 0.5s;
}

#recusar{
    display: flex;
    padding: 15px 30px;
    align-items: center;
    margin-left: 42%;
    margin-top: -50px;
    background-color: rgb(139, 23, 23);
    font-weight: 500;
    border-radius: 5px;
}

#recusar:hover{
    background-color: rgb(116, 24, 24);
    transition: 0.3s;
}

#visualizar{
    display: flex;
    padding: 15px 30px;
    align-items: center;
    margin-left: 55.5%;
    margin-top: -50px;
    background-color: #7153ca;
    font-weight: 500;
    border-radius: 5px;
}

#visualizar:hover{
    background-color: rgb(106, 28, 209);
}

@media only screen and (min-height: 700px) {
    .membro-equipe img{
        margin-top: -5px;
    }

    #excluir{
        margin-left: 85%;
    }

    #aceitar{
        margin-left: 29%;
    }

    #recusar{
        margin-left: 43%;
    }

    #visualizar{
        margin-left: 58%;
    }

    #adm img{
        margin-top: 2px;
        height: 11.5vh;
        width: 11vh;
    }
}

@media only screen and (min-width: 1400px) {
     .membro-equipe img{
        height: 10vh;
        margin-top: -8px;
    }

    .imagem-projeto img {
        height: 13vh;
        width: 13vh;
    }

    

    #pendenteUser{
        padding-top: 4.5vh;
    }

     #aceitar{
        margin-left: 25%;
    }

    #recusar{
        margin-left: 35%;
    }

    #visualizar{
        margin-left: 45.5%;
    }
}

@media only screen and (min-width: 1600px) {
    .membro-equipe img{
        height: 9vh;
        width: 9vh;
        margin-top: -3px;
    }

    #container{
        height: 14vh;
    }

    #userFoto{
        height: 12vh;
        width: 12vh;
    }

    #rank{
        margin-left: 14vh;
    }

    #aceitar{
        margin-left: 22%;
    }

    #recusar{
        margin-left: 32%;
    }

    #visualizar{
        margin-left: 42.5%;
    }
}

@media only screen and (min-height: 1000px) {
    #aceitar{
        margin-top: -3%;
    }

    .membro-equipe img{
        margin-top: -11px;
    }

    #pendenteUser{
        padding-top: 5.6vh;
    }
    
    #rank{
        padding-top: 10px;
        margin-left: 8.99%;
    }

    #userFoto{
        height: 12vh;
        width: 12vh;
        margin-top: 1.5vh;
    }

    
}

@media only screen and (min-width: 1900px) {
    .membro-equipe img{
        margin-top: -11px;
        height: 8vh;
        width: 8vh;
    }

    #adm img{
        height: 9vh;
        width: 9vh;
    }

    #userFoto{
        height: 9vh;
        width: 9vh;
        padding-top: -0.1px;
    }

    #container{
        height: 12vh;
    }

    #pendenteUser{
        padding-top: 4.5vh;
    }

    #rank{
        padding-top: 10px;
        margin-left: 6%;
    }

    #aceitar{
        margin-left: 17%;
    }

    #recusar{
        margin-left: 25%;
    }

    #visualizar{
        margin-left: 33.5%;
    }

}

